.hidden {
  display: none;
}

/* #region reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

/* #endregion reset */

/* #region cammon */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion cammon */

/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #endregion header */

/* #region mobile munu */
.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.mobile-nav-link:focus {
  color: #4d5ae5;
}

.mobile-nav-link:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-item {
  margin-bottom: 24px;
}

.mobile-contacts-link {
  color: #4d5ae5;
}

.mobile-contacts,
.menu-social-list {
  justify-content: center;
  gap: 40px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile menu */

/* #region main */
.main-page {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  margin: 0 auto;
}

@media screen and (-webkit-min-divice-pixel-rdio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile-2x.jpg);
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #4d5ae5;
  cursor: pointer;
}

.button-part {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

/* main 768px */
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .main-page {
    background-image: linear-gradient
      (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
      url(../images/people-office-mobile-tablet-1x.jpg);
    padding: 112px 0;
  }
  @media screen and (-webkit-min-divice-pixel-rdio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .main-page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-mobile-tablet-2x.jpg);
    }
  }
  .main-title {
    min-width: 496px;
    height: 120px;
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 112px;
    margin-bottom: 36px;
  }
}

/* main 1158 */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-1x.jpg);
    padding: 188px 0;
  }
  @media screen and (-webkit-min-divice-pixel-rdio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .main-page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
}

/* #endregion mine */

/* #region hero */
.hero {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icons-item {
  display: none;
}

.hero-item-title {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.hero-item-list {
  padding: 0 16px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 0 8px 0;
}
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* hero 768px */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-containet {
    min-width: 768px;
  }
  .hero-item-title {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .hero-item-list {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
}

/* hero 1158px */
@media screen and (min-width: 1158px) {
  .hero {
    min-width: 1158px;
    padding: 120px 0;
  }
  .hero-item-title {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 72px 24px;
  }
  .hero-item-list {
  }
  .hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
}

/* #endregion hero */

/* #region portfolio */
.portfolio-page {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.portfolio-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-cart-item {
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.portfolio-cart {
  flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio-cart {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  width: 264px;
  height: 428px;
}
.text-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.cart-content {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.cart-content-tem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.portfolio-cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.portfolio-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-social-link {
  width: 40px;
  height: 40px;
}
.social-link-list {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-list:hover,
.social-link-list:focus {
  background-color: #404bbf;
}
.social-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-cart-item {
  }
  .portfolio-cart {
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-cart-item {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 0;
  }
  .portfolio-cart {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
/* #endregion portfolio */

/* #region project */
.project-page {
  padding: 96px 0;
  margin: 0 auto;
}
.project-logo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.project-cart-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  row-gap: 48px;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.project-cart {
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.project-cart:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.wrap {
  position: relative;
  overflow: hidden;
}
.wrap-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-logo-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.project-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  margin: 0;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.projet-texi {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.project-cart:hover p {
  transform: translateY(0%);
}
/* project 768px */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .project-logo-title {
    margin-bottom: 72px;
  }
  .project-cart-item {
    row-gap: 64px;
  }
  .project-cart {
    width: calc((100% - 24px) / 2);
  }
}
/* project 1158px */
@media screen and (min-width: 1158px) {
  .project-page {
    padding: 120px 0;
  }
  .project-cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
    margin: 0;
    flex-wrap: wrap;
  }
  .project-cart {
    background: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project-cart:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .projet-texi {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion project */

/* #region footer */
/* #endregion footer */
